.card {
    color: black;
    margin: auto;    
}


.container {
    margin-top: 30px;
    background:#333a40;
    color: #999da0;
   margin-bottom: 2rem !important;
  
}
body {
    background-image: url(../images/hotel-wallpaper-black.png);
}

p {
    font-size: 22px;
}

.card {
    border: grey;
    background: #999da0;
   margin-bottom: 30px;
   
}

.card :hover {
    color: white;
}

.card :active {
    color: #00a9a6;
}

h5 {
    color: #999da0 !important;
    
}
 

body {
    height: 100%;
}

.wrapper {
    min-height: 100% !important;
    margin-bottom: 70px !important;
}

.footer1 {
    height: 70px !important;
    text-align: center !important;
}